body {
    margin: 0;
    font-family: 'Nerko One', cursive;
}

header {
    display: flex;
    padding: 20px 5%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.logo a img {
    height: 80px;
    margin-right: 20px;
    padding: 0 200px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 200px;
}

.menu > li {
    margin: 0 20px;
}

.menu > li > a {
    text-decoration: none;
    font-size: 35px;
    transition: color 0.3s;
    color: white;
}

.menu > li > a:hover{
    color: red;
}

.video {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.backgroundVideo {
    width: 100%;
}

.textVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.backgroundVideoText h2 {
    font-size: 56px;
}

.backgroundVideoText p {
    padding: 20px;
    font-size: 50px;
}

.container-1, .container-2, .container-3, .container-4, .container-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.container-1 p, .container-2 p, .container-4 p, .container-5 p {
    padding: 30px 250px;
    text-align: center;
}

.container-1, .container-2, .container-3{
    padding: 60px 400px;
    height: 400px;
}

.container-4, .container-5{
    padding: 30px 300px;
}

.container-1, .container-2, .container-3 p{
    padding: 20px;
    font-size: 40px;
}

.container-4, .container-5 {
    flex-direction: column;
}

.container-4 p, .container-5 p {
    font-size: 36px;
}

.container-1{
    color: white;
    background-color: #00A23A;
}

.container-2{
    background-color: #F3DD38;
}

.container-3{
    background-color: #C3A3CE;
}

.container-4{
    background-color: #EF7D00;
}

.container-5{
    background-color: #8DAFE2;
}

/* Updated button styles */
.button-1,
.button-2 {
    padding: 15px 30px;
    font-family: 'Nerko One', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    color: black;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.button-1:hover,
.button-2:hover {
    background-color: red;
    color: #333;
}

/* Additional styles for the links within buttons */
.button-1 a,
.button-2 a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.button-1 a:hover,
.button-2 a:hover {
    color: #333;
}



/*Footer*/
footer {
    background-color: black;
    padding: 20px 5%;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links > li {
    margin: 0 20px;
}

.footer-links > li > a {
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    color: white;
}

.footer-links > li > a:hover{
    color: red;
}

.logo-2 a {
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px;
}

.copyright {
    text-align: center;
    color: white;
}

/*Socials*/

.socials{
    display: flex;
    align-content: center;
    justify-content: center;
}

.socials > a{
    padding: 10px 20px;
}

.socials > a > img{
    height: 40px;
    fill: white;
}


/*Contact Form*/


.contact-section {
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 2px solid #fff;
    color: white;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.contact-form button:hover {
    background-color: red;
    color: #333;
}

/*Products Page*/

.products-section {
    text-align: center;
    padding: 40px;
}

.product-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    max-width: 300px;
    margin: 20px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product p {
    font-size: 28px;
    margin-bottom: 15px;
}

.product button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 2px solid #fff;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.product button:hover {
    background-color: red;
    color: #333;
}

/*About Page*/

.centered-paragraphs {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.mission,
.vision {
    max-width: 800px;
    margin: 0 auto 40px;
}

.mission h3,
.vision h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.mission p,
.vision p {
    font-size: 24px;
    margin-bottom: 20px;
}

/*Major viewports*/

@media only screen and (max-width: 600px) {

}